{% extends 'base.html' %}

{% block content %}

<article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Change Password Mr.{{ user }}</h4>
    <form name="register_form" action="{% url 'users:set_password' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="uid" value="{{ uid }}">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input type="password" name="password" maxlength="30" class="form-control" placeholder="Password" autofocus="" required="" id="id_password">
        </div>    
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input type="password" name="password2" maxlength="30" class="form-control" placeholder="Confirm Password" autofocus="" required="" id="id_cpassword">
        </div>                            
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
        <p class="text-center" style="font-size: 12px"><a href="{% url 'users:login' %}"> << Back to </a>Login page</p></form>
</article>

{% endblock content %}