{% extends 'base.html' %}



{% block content %}

<article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Account Activation</h4>
    <form name="register_form" action="{% url 'users:send_verification_link' %}" method="post">
        {% csrf_token %}
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
             </div>
            <input type="text" name="username" maxlength="30" class="form-control" placeholder="Username/Email" autofocus="" required="" id="id_email">
        </div>                              
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
        <p class="text-center" style="font-size: 12px"><a href="{% url 'users:login' %}">Go back</a></p></form>
</article>

{% endblock content %}